{% extends 'base.html.twig' %}

{% block metadescription %}Mentions légales du site 2JC automobiles.{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}Mentions légales du garage 2JC automobiles.{% endblock %}

{% block nav %}{{ include('components/_nav_bar_fixed.html.twig') }}{% endblock %}
{% block footer %}{{ include('components/_footer.html.twig') }}{% endblock %}

{% block body %}
<main class="mentions-legales">
  <h1>Mentions légales</h1>
    <p><strong>Raison sociale :</strong> 2JC Automobiles</p>
    <p><strong>Statut juridique :</strong> </p> 
    <p><strong>Adresse du siège :</strong> </p>
    <p><strong>Responsable de publication :</strong> </p>
    <p><strong>Email de contact :</strong> jerome.midas68@gmail.com</p>
    <p><strong>Numéro SIRET :</strong> </p>

    <h2>Hébergeur du site</h2>
    {# mettre hebergeur et completer infos ci-dessus  #}

  <p>Le site est géré par le responsable de publication mentionné ci-dessus.</p>
</main>
{% endblock %}