{% extends 'base.html.twig' %}

{% block metadescription %}Mentions légales du site 2JC automobiles.{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}Mentions légales du garage 2JC automobiles.{% endblock %}

{% block nav %}{{ include('components/_nav_bar_fixed.html.twig') }}{% endblock %}
{% block footer %}{{ include('components/_footer.html.twig') }}{% endblock %}

{% block body %}
<main class="mentions-legales">
    <h1>Politique de confidentialité</h1>
      <p>Le site 2JC Automobiles collecte certaines données personnelles via ses formulaires de contact, devis et prise de rendez-vous :</p>
      <ul>
        <li>Nom, prénom</li>
        <li>Email</li>
        <li>Téléphone</li>
        <li>Détails de la demande ou du véhicule</li>
        <li>Date et heure de rendez-vous souhaités</li>
      </ul>

      <h2>Finalité de la collecte</h2>
        <p>Ces données sont utilisées uniquement pour répondre à vos demandes et organiser les prestations demandées. Elles sont stockées dans une base de données sécurisée et ne sont jamais transmises à des tiers.</p>

      <h2>Durée de conservation</h2>
        <p>Les données sont conservées pendant un maximum de 3 ans à partir du dernier contact.</p>

      <h2>Vos droits</h2>
        <p>Conformément au RGPD, vous pouvez demander à tout moment l'accès, la rectification ou la suppression de vos données personnelles, en écrivant à : <strong>jerome.midas68@gmail.com</strong></p>

      <h2>Cookies</h2>
        <p>Le site n'utilise aucun cookie traceur ou publicitaire. Seuls des cookies strictement nécessaires au bon fonctionnement peuvent être utilisés.</p>

        <p>Pour toute réclamation, vous pouvez contacter la CNIL : <a href="https://www.cnil.fr">www.cnil.fr</a></p>
        
      <h2>Google Font</h2>
        <p>Notre site utilise des polices fournies par Google Fonts afin d’assurer une présentation homogène et agréable de nos contenus.<br>
            Lors de la consultation de notre site, le navigateur de l’utilisateur charge directement ces polices depuis les serveurs de Google.<br>
            Cela implique que certaines données techniques (comme l’adresse IP et des informations sur le navigateur) peuvent être transmises à Google.<br>
            Ces données sont utilisées uniquement pour permettre l’affichage correct des polices et ne sont pas combinées par nous avec d’autres informations.<br>
            Pour plus de détails, vous pouvez consulter la politique de confidentialité de Google : <a href="https://policies.google.com/privacy." target="_blank">https://policies.google.com/privacy</a>
        </p>
</main>
{% endblock %}
