
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
.env
.env.dev
.env.test
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Fichiers de configuration d'IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de build ou temporaires
/node_modules/
npm-debug.log
yarn-error.log

# Fichiers de test ou de couverture
/coverage/
.phpunit.result.cache

# Autres fichiers sensibles ou inutiles
*.log

/src/Service/ApiService.php