{% extends 'base.html.twig' %}

{% block robots %}noindex, nofollow{% endblock %}
{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block nav %}{{ include('components/_nav_bar_fixed.html.twig') }}{% endblock %}

{% block body %}
    <h1>Réinitialisez votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse e-mail, et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer l’e-mail de réinitialisation</button>
    {{ form_end(requestForm) }}
{% endblock %}
