
/* ************************************** FORMULAIRE COMMUN ************************** */
.hero-overlay-form {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
    h1 {
      color: white;
      font-size: 4rem;
      margin-bottom: 0;
      font-weight: 600;
    }
    h2 {
      color: white;
      font-size: 2rem;
      font-style: italic;
    }
}

.form-container {
    background-color: white;
    padding: 1.875rem 2.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 100%;
    max-width: 43.75rem;
    overflow: hidden; 
    margin: 2rem auto;
}

.form-step h2, 
.form-step h3 {
    background-color: white;
    color: var(--text-primary);
    text-align: center;
    margin: 4.3rem 1.5rem 2.1rem 1.5rem;
    font-weight: 700;
}

/* Barre de progression */
.progress-bar-container {
    margin-bottom: 1.875rem;
}

.progress-bar-form {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.progress-bar-form .step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: var(--grey-color);
    color: var(--dark-gray);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
    border: 2px solid var(--grey-color);
}

.progress-bar-form .step.active {
    background-color: var(--blue-color);
    border-color: var(--blue-color);
    color: white;
}

.progress-bar-form .step.completed {
    background-color: var(--blue-color);
    border-color: var(--blue-color);
    color: white;
}

.progress-bar-form .step::after,
.progress-bar-form .step.active::after,
.progress-bar-form .step.completed::after {
    content: attr(data-step-title);
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: var(--text-primary) !important;
    white-space: nowrap;
}

.progress-bar-form .progress-line {
    height: 0.25rem;
    background-color: var(--grey-color);
    flex-grow: 1;
    margin: 0 -0.125rem;
    position: relative;
    z-index: 1;
}

.progress-bar-form .progress-line.active {
    background-color: #A1A5AC;
}

/* Etapes du form */
/* animation css */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(1.25rem); }
    to { opacity: 1; transform: translateY(0); }
}

.form-step {
    background-color: white;
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

.form-step.active {
    display: block;
}

/* Form Groups and Inputs */
.form-group {
    padding-bottom: 1.25rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--blue-hover) !important;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 0.75rem 0.9375rem;
    border: var(--border-form);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}


.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    outline: none;
    border-color: var(--blue-hover);
    box-shadow: 0 0 0 0.125rem rgb(0, 86, 179, 0.5);
}

.form-group-inline {
    display: flex;
    gap: 1.25rem;
}

.form-group-inline .form-group {
    flex: 1;
}

.form-step p.champs-obligatoires {
    font-size: 0.7em !important;
    font-weight: 400 !important;
    margin-top: 0 !important;
    text-align: start !important;
}

/* Buttons */
.form-navigation {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 1.875rem;
    padding-top: 1.5625rem;
} 

.btn {
    padding: 0.75rem 1.5625rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn:active {
    transform: translateY(0.0625rem);
}

.btn-primary {
    margin: 0.9375rem;
    background-color: var(--blue-color);
    color: white;
    &:hover {
        background-color: var(--blue-hover);
    }
    &:active {
        background-color: var(--dark-red) !important;
    }
}

.btn-secondary {
    margin: 0.9375rem;
    background-color: var(--grey-color);
    color: var(--dark-gray);
    &:hover {
        background-color: var(--input-placeholder);
    }
}

/* Review Details */
#reviewDetails p {
    padding-bottom: 0.5rem;
    font-size: 0.95rem;
    font-weight: 400;
    text-align: start;
    color: var(--text-terciaire)
}

#reviewDetails p strong {
    color: var(--text-secondary);
    margin-right: 0.3125rem;
}

/* Validation Error Styling */
input.invalid {
    border-color: var(--dark-red);
    box-shadow: 0 0 0 0.125rem rgb(208, 0, 0, 0.3);
}

.error-message {
    color: var(--dark-red);
    font-size: 1em!important;
    font-weight: 400 !important;
    margin-top: 0.3125rem;
    text-align: start !important;
}

#devis_type_form_text {
    width: 100%;
}

.consentement {
    font-style: italic;
    display: flex;
    font-size: 0.8em;
    gap: 0.7rem;
}

input::placeholder,
textarea::placeholder,
.form-group select::placeholder {
    color: var(--bs-secondary-color) !important;
}

/* ************************** FORMULAIRE RDV ******************************************* */
.hero-form-rdv {
  position: relative;
  height: 50vh;
  background: url('../images/rdv.avif') center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.form.form-rdv {
    h3 {
        text-align: center;
        font-weight: 500;
        font-size: 2em;
        margin: 4rem auto 2rem auto;
    }
    p {
        font-size: 1.2rem;
        margin: 0.5rem;
        font-weight: 500;
        text-align: center;
    }
    a {
        color: var(--text-primary);
        font-weight: 600;
    }
    a:hover {
        opacity: 0.5;
    }
}

/* ****************************** FORMULAIRE DEVIS  ***********************************xs*/
.hero-form-devis {
  position: relative;
  height: 50vh;
  background: url('../images/devis.avif') center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.form.form-devis {
    margin-top: 5rem;
    h1 {
        text-align: center;
        margin: 1.875rem;
        font-weight: 700;
    }
}

/* ************************** FORMULAIRE CONTACT *********************************** */
.main-contact {
    background-color: white;
}

.form-contact {
    margin-top: 4rem;
    padding: 3rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
        h2 {
            font-size: 0.7em;
            text-align: start;
            margin: 0;
            color: var(--dark-gray);
            font-weight: 400;
        }
}

#contact_type_form_submit {
    display: flex;
    margin: 1.25rem auto 0 auto;
    background-color: var(--blue-color);
    border: none;
    color: white;
    font-weight: 600;
    padding: 0.625rem 2.5rem; 
    font-size: 1.2em;
    border-radius: var(--border-radius);
        &:hover {
            opacity: 0.7;
        }
}

.col {
    display: flex;
    gap: 3.125rem;
    background-color: white;
    width: 100%;    
    .form-group {
        width: 50%;
    }
    .form-group {
        flex: 1 1 45%;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        transition: all 0.2s ease-in-out;
        label {
            font-weight: 600;
            color: var(--blue-color);
        }
        input,
        select,
        textarea {
            padding: 0.75rem 1rem;
            border: 1px solid #ccc;
            border-radius: var(--border-radius);
            font-size: 1rem;
            transition: border-color 0.3s ease;
            &:focus {
                border-color: var(--blue-color);
            }
        }
    }
}

.contact-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
}

.left-col {
  width: 45vw;
  height: 100%;
  background-image: url("../images/contact.avif");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  width: 10rem;
  padding: 1.5rem;
}

.right-col {
  background: var(--bg-color);
  width: 50vw;
  min-height: 100vh;
  padding: 5rem 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
     h1 {
        color: var(--dark-gray);
        margin: 0 0 2.5rem 0;
        font-weight: 700;
        text-align: center;
    }
}

.contact-container input:focus,
.contact-container select:focus,
.contact-container textarea:focus {
    border-color: var(--blue-color);
    outline: none;
    box-shadow: 0 0 5px 3px rgba(0, 123, 255, 0.2); 
}