{% extends 'base.html.twig' %}

{% block title %}Ajouter voiture d'occasion{% endblock %}

{% block body %}
    <h1>Ajouter vehicule</h1>

    <div class="voiture-list-form">
        {{ form(form)}}
    </div>
{% endblock %}
