{% extends 'base.html.twig' %}

{% block title %}Ajouter voiture d'occasion{% endblock %}

{% block body %}
    <h1>Ajouter vehicule</h1>
    <h2>Attention la marque et le modèle sont obligatoires à la soumission de ce formulaire.</h2>
    <div class="voiture-list-form">
        {{ form(form)}}
    </div>
{% endblock %}
