{% extends 'base.html.twig' %}

{% block title %}Choix vehicule{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}

    <form method="POST">
    <h1>Choix du véhicule</h1>
    <div class="form-group">
        <h2>Sélectionnez un véhicule :</h2>
        <label for="marques-list">Veuillez séléctionner une marque</label>
        <input list="marques-list" id="marque" name="marque" class="form-control" autocomplete="off">
        <datalist id="marques-list">
            {% for marque in marques %}
                <option value="{{ marque.Make_Name }}"></option>
            {% endfor %}
        </datalist>

        <label for="modeles-list">Veuillez séléctionner un modèle</label>
        <input list="modeles-list" id="modele" name="modele" class="form-control" autocomplete="off">
        <datalist id="modeles-list"></datalist>
        {{ form(vehiculeForm)}}

        <button type="submit" class="btn btn-primary mt-3">Valider</button>
    </form>


<script>
// affichage dynamique des modèles selon la marque sélctionné, evite de devoir rafraîchir la page 
document.getElementById('marque').addEventListener('change', function() {
    const marque = this.value;
    fetch('/api/modeles?marque=' + encodeURIComponent(marque))
        .then(response => response.json())
        .then(data => {
            const datalist = document.getElementById('modeles-list');
            datalist.innerHTML = '';
            if (data.length === 0) {
                // Ajoute une option spéciale si aucun modèle n'est trouvé
                datalist.innerHTML = `<option value="Pas de marque associée"></option>`;
            } else {
                data.forEach(modele => {
                    datalist.innerHTML += `<option value="${modele.Model_Name}"></option>`;
                });
            }
        });
});
</script>
{% endblock %}
