<div class="footer-left-side">
    <figure>
        <p class="footer-logo">2JC</p>
    </figure>
</div>
<div class="footer-center-side" id="social-media">
    <p class="footer-title">Suivez-nous</p>
    <a href="#" aria-label="Facebook">
        <img src="{{ asset('icones/facebook.png') }}" alt="Icône Facebook" class="footer-icon">
    </a>
    <a href="#" aria-label="Instagram">
        <img src="{{ asset('icones/mdi_instagram.png') }}" alt="Icône Instagram" class="footer-icon">
    </a>
</div>
<div class="footer-right-side" id="contact-links">
    <a href="tel:0389400797" class="footer-contact">
        <img src="{{ asset('icones/tel.png') }}" alt="Icône téléphone" class="footer-icon">
        03 89 40 07 97
    </a>
    <a href="mailto:contact@2jc.fr" class="footer-contact">
        <img src="{{ asset('icones/mail-outline.png')}}" alt="Icône mail" class="footer-icon">
        Nous contacter
    </a>
</div>
