<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="{{ path('app_home') }}" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label=​"Logo">
            <figure>
                Logo​
            </figure>
        </a>
        ​<span class="mb-3 mb-md-0 text-body-secondary">​© 2025 Company, Inc​</span>​
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a href="https://www.facebook.com/p/2jc-Automobiles-100063767071947/?locale=fr_FR" aria-label="Facebook" class="text-body-secondary">
                <i class="fa-brands fa-facebook fa-xl"></i>
            </a>
        </li>
        <li class="ms-3">
            <a href="https://www.instagram.com/2jc_automobiles/" aria-label="Instagram" class="text-body-secondary">
                <i class="fa-brands fa-instagram fa-xl"></i>
            </a>
        </li>
    </ul>  
</footer>
