<footer class="py-3 my-4">
    <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
        <ul class="nav">
            <li class="nav-item footer">
                <a href="{{ path('app_login') }}" class="nav-link px-2 text-body-secondary">Se connecter</a>
            </li>
            <li class="nav-item footer">
                <a href="{{ path('mentions_legales') }}" class="nav-link px-2 text-body-secondary">Mentions légales</a>
            </li>
            <li class="nav-item footer">
                <a href="{{ path('politique_confidentialite') }}" class="nav-link px-2 text-body-secondary">Politique de confidentialité</a>
            </li>
        </ul>
        <ul class="nav">
            <li class="ms-3">
                <a href="https://www.facebook.com/p/2jc-Automobiles-100063767071947/?locale=fr_FR" aria-label="Facebook" class="text-body-secondary">
                    <i class="fa-brands fa-facebook fa-xl"></i>
                </a>
            </li>
            <li class="ms-3">
                <a href="https://www.instagram.com/2jc_automobiles/" aria-label="Instagram" class="text-body-secondary">
                    <i class="fa-brands fa-instagram fa-xl"></i>
                </a>
            </li>
        </ul>
    </div>
    <p class="text-center text-body-secondary mb-0">© 2025 2JC Automobiles</p>
</footer>