{{ form_start(searchForm, {'attr': {'class': 'form-inline'}}) }}
    {{ form_widget(searchForm.q, {'attr': {'class': 'form-control mr-sm-2', 'placeholder': 'Rechercher par nom, prenom ou email...', 'aria-label': 'Rechercher'}}) }}
    <button class="btn btn-links d-flex justify-content-center align-items-center" style="margin: 0; max-height: 38px; width: fit-content;" type="submit">
        Rechercher
    </button>
{{ form_end(searchForm) }}